@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles.css';
@import '../styles/theme.css';
@import '../styles/platform.css';
@import '../styles/landing.css';
@import '../styles/mobile-drawer.css';
@import '../styles/index.css';
